*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* 
        REV: suggest you do not set body width or margin
        but instead set container the width and margin.
        Note that I opted to use a default width of 100%.
    */
    display: flex;
    flex-direction: column;
    align-items: center;

    /*  Was used to center the content vertically but not needed in this project
        justify-content: center;
        height: 100vh;
    */
}

body, input {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    text-align: center;
}

input {
    font-size: 52px;
    border: 2px solid #B295FF;
    padding: 15px;
    /* Added this to adjust the size of the field but not supported in all browsers
      field-sizing: content;
    */
}

input, button {
    width: 125px;
    font-weight: bold;
    border-radius: 4px;
}

input, .hero {
    background: #6943FF;
}

button {
    display: block;
    margin: 25px auto;
    background: #FFFFFF;
    border: 0;
    color: #3D3D3D;
    padding: 10px;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}

h1 {
    /* Changed left/right margin so that the title won't touch the container */
    margin: 20px 50px 30px;
    font-size: 28px;
}

h3 {
    margin: 0;
    color: #CCC1FF;
}

p {
    margin: 10px 0;
    font-size: 14px;

    /* Changed height to line-height this means the element adjusts in 
       height when more than 1 line, height means it would overflow the element */
    line-height: 14px;
}

.container {
    /* Better to set the container's min-width and auto center margins. Removing the %
       stops the container and its contents getting really small when 
       adjusting the size of the screen */
    /* width: 100%; */
    min-width: 350px;
    max-width: 550px;
    background: #1F2937;
}

.hero {
    /* To fix the collapsing margin */
    border: 1px solid #6943FF;
    padding-top: 30px;
}

.conversion-card {
    /* Changed width to used max/min widths for responsive UI */
    /* width: 90%; */
    max-width: 500px;
    min-width: 330px;

    /* Made margin consistent on all sides */
    margin: 25px;

    /* adjusted left/right padding */
    padding: 30px 5px 15px 5px;
    
    background: #273549;
    border-radius: 5px;
}

/* Added from review */
.first-card {
  margin-top: 30px;
}

.last-card {
  margin-bottom: 30px;
}